rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {


    match /users/{userId} {
        
      allow read: if isSignedIn();
      allow update, delete: if hasAnyRole(['admin']);
      
    }
    
    match /posts/{postId} {
        allow read: if ( isSignedIn() && resource.data.published ) || hasAnyRole(['admin']);
        allow create: if isValidNewPost() && hasAnyRole(['author']);
        allow update: if isValidUpdatedPost() && hasAnyRole(['author', 'editor', 'admin']);
        allow delete: if hasAnyRole(['admin']);
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function hasAnyRole(roles) {
      return isSignedIn()
              && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles.hasAny(roles)
    }

    function isValidNewPost() {
      let post = request.resource.data;
      let isOwner = post.uid == request.auth.uid;
      let isNow = request.time == request.resource.data.createdAt;
      let hasRequiredFields = post.keys().hasAll(['content', 'uid', 'createdAt', 'published']);

      return isOwner && hasRequiredFields && isNow;
    }

    function isValidUpdatedPost() {
      let post = request.resource.data;
      let hasRequiredFields = post.keys().hasAny(['content', 'updatedAt', 'published']);
      let isValidContent = !('content' in post) || post.content is string && post.content.size() < 5000;

      return hasRequiredFields && isValidContent;
    }
  }
}













// rules_version = '2';
// service cloud.firestore {
//   match /databases/{database}/documents {

//     match /{document=**} {
//       allow read, write: if false;
//     }
    
//     match /messages/{docId} {
//  			allow read: if request.auth.uid != null;
//       allow create: if canCreateMessage();
//     }
    
//   	function canCreateMessage() {
//       let isSignedIn = request.auth.uid != null;
//       let isOwner = request.auth.uid == request.resource.data.uid;
//       let isNotTooLong = request.resource.data.text.size() < 255;
//       let isNow = request.time == request.resource.data.createdAt;

//       let isNotBanned = exists(
//       	/databases/$(database)/documents/banned/$(request.auth.uid)
//       ) == false;
      
//       return isSignedIn && isOwner && isNotTooLong && isNow && isNotBanned;
//     }
    
//   }
// }
























// rules_version = '2';
// service cloud.firestore {
//   match /databases/{database}/documents {

//     match /todos/{docId} {
 
//       allow create: if isLoggedIn() && hasProfile(request.auth.uid)

 
//       allow delete: if isLoggedIn() && isAdmin(request.auth.uid)
//     }


//     function isLoggedIn() { 
//       return request.auth.uid != null;
//     }

//     function hasProfile(uid) {
//         return exists(/databases/$(database)/documents/users/$(uid))
//     }

//     function isAdmin(uid) {
//       let profile = get(/databases/$(database)/documents/users/$(uid))

//       return profile.data.admin == true
//     }
 


    

//   }
// }






    // match /users/{userId} {

    //   allow read: if isLoggedIn();
    //   allow write: if belongsTo(userId);

    // }

    // match /todos/{docId} {

    //   allow read: if resource.data.status == 'published';

    //   allow create: if canCreateTodo();
                    

    //   allow update: if belongsTo() 
    //                 && request.resource.data.keys().hasOnly(['text', 'status']);
    // }

    // function isLoggedIn() { 
    //   return request.auth.uid != null;
    // }

    // function belongsTo(userId) {    
    //   return request.auth.uid == userId || request.auth.uid == resource.data.uid;
    // }

    // function canCreateTodo() {
    //   let uid = request.auth.uid;
    //   let hasValidTimestamp = request.time == request.resource.data.createdAt;

    //   return belongsTo(uid) && hasValidTimestamp;
    // }
    









  //  match /users/{userId} {

  //     allow read: if request.auth.uid != null;
  //     allow write: if request.auth.uid == userId;

  //   }

  //   match /todos/{docId} {

  //     allow read: if resource.data.status == 'published';

  //     allow create: if request.auth.uid == resource.data.uid 
  //                   && request.time == request.resource.data.createdAt;
                    

  //     allow update: if request.auth.uid == resource.data.uid 
  //                   && request.resource.data.keys().hasOnly(['text', 'status']);
  //   }
    



    // match /users/someId {
    //   // Single document
    // }
    
    // match /users/{docId} {
    //   // Single Collection
    // }

    // match /users/{docId=**} {
    //   // Recursive wildcard, includes all subcollections
    // }



  // match /users/{docId=**} {

  //     allow read, write;

  //     allow get;
  //     allow list;

  //     allow create;
  //     allow update;
  //     allow delete;
      
  //   }